# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title:       Ahn Jaehong 
email:       monsieur.ahn@gmail.com
description: ''
baseurl:     '' # The subpath of your site, e.g. /blog
url:         'https://h0n9.postie.chat/' # The base hostname & protocol for your site
# twitter:     ''
github:      'https://github.com/h0n9/'
instagram:   'https://www.instagram.com/monsieur.ahn/' 
#facebook:    ''

markdown:  kramdown
permalink: pretty
paginate:  3 

sass:
  style: compressed

plugins:
  - jekyll-paginate
  - jekyll/tagging

include:
  - _pages

exclude:
  - vendor
  - Gemfile
  - Gemfile.lock
  - vim-markdown-preview.html
  - tags

# Tags
tag_page_dir:         tag
tag_page_layout:      tag_page
tag_permalink_style:  pretty

# Pages path
defaults:
  - scope:
      path: '_pages'
    values:
      permalink: /:basename:output_ext
